* {
  font-family: "JetBrainsMono Nerd Font, sans-serif";
  font-size: 14px;
}


window#waybar {
  background: rgba(40, 40, 40, 0);
}


#window,
#custom-flake,
#tray,
#workspaces,
#clock,
#battery,
#cpu,
#temperature,
#memory,
#backlight,
#pulseaudio {
  background: #282828;
  padding: 0 10px;
  margin: 0px 4px;
  border-radius: 12px;
  background-clip: padding-box;
}


#custom-flake {
  color: #98971a;
  font-size: 23px;
  padding: 1px 1px 1px 5px;
  margin: 0px 4px 0px 0px;
}


#workspaces button {
  min-width: 0px;
  color: #83a598;
}
#workspaces button:hover {
  background: rgba(31, 31, 45, 0.5)
}
#workspaces button.active {
  color: #d79921;
}
#workspaces button.urgent {
  color: #cc241d;
}


#clock {
  color: #b16286;
}


#battery {
  color: #b8bb26;
}
#battery.charging, #battery.plugged {
  background: #b8bb26;
  color: #282828;
}


#cpu {
  color: #83a589;
  border-radius: 12px 0px 0px 12px;
  margin: 0px -2px 0px 4px;          
}
#temperature {
  color: #83a589;
  margin: 0px -2px;
  border-radius: 0px;
}
#temperature.critical {
  color: #cc241d;
}
#memory {
  color: #83a589;
  border-radius: 0px 12px 12px 0px;
  margin: 0px 4px 0px -2px;
}


#backlight {
  color: #d79921;
  border-radius: 12px 0px 0px 12px;
  margin: 0px -2px 0px 4px;
}
#pulseaudio {
  color: #d79921;
  border-radius: 0px 12px 12px 0px;
  margin: 0px 0px 0px -2px;
}
#pulseaudio.muted {
  color: #cc241d;
}
