/* Variables */
:root{
  --uc-frame-color: #282828; /*main color*/
  --toolbar-field-background-color: #414141 !important; /*urlbar unfocused*/
  --toolbar-field-focus-background-color: #414141 !important; /*urlbar focused*/
}

:has(#sidebar-box:not([hidden])) { /*enable padding with sidebar is on*/
  browser { /* round corners of content section and its background*/
    background: var(--uc-frame-color) !important;
    border-radius: 10px;
  }
  .browserStack { /* add padding */
    padding: 10px;
    background: var(--uc-frame-color) !important;
  }
}
#browser { /*browser frame color*/
  background: var(--uc-frame-color) !important;
}

/*Remove upper bars*/
#titlebar,
#TabsToolbar { 
  display: none !important; /*hide upper tabs*/
}
#nav-bar {
  height:      40px !important;
  margin-top: -40px !important;
  overflow: visible !important; /*make possible to move buttons from navbar*/
}
#navigator-toolbox {
  border: none !important; /*no line under former navbar*/
  z-index: 1 !important; /*v137 fix*/
}

/*Move buttons*/
#back-button, #forward-button, #stop-reload-button{ 
  transform: translate(80px, 40px) /*move navigation buttons*/
}
#PanelUI-button { /*settings button*/
  position: fixed !important;
  top:        5px !important;
  left:       5px !important;
}
#unified-extensions-button { /*extension button*/
  list-style-image: url("chrome://global/skin/icons/chevron.svg") !important;
  position: fixed !important;
  top:       5px  !important;
  left:     35px  !important;
}
#downloads-button { /*download button*/
  position: fixed !important;
  top:       5px  !important;
  left:     65px  !important;
}

/* Sidebery */
#sidebar-box {
  background: var(--uc-frame-color) !important; /*sidebar background - not the sidebar! visible in corners*/
  width:      193px !important;
  margin-top:  80px !important;
  margin-left:  7px !important;
}
#sidebar-header,    /*no "Tabs" header*/
#sidebar-splitter { /*no movable splitline*/
  display: none;
}

/*Remove icons in urlbar and status in the left down angle*/
#statuspanel,
#star-button-box,
#identity-box,
#permission-icon-container,
#tracking-protection-icon-container { 
  display: none !important; 
}

/*Urlbar*/
:has(#sidebar-box:not([hidden])) {
  #urlbar-background,#urlbar {
    border-radius: 10px !important; /*Urlbar corner radius*/
  }
  #urlbar-background {
    border:  none !important;
    outline: none !important;
  }
  #urlbar {
    position: fixed !important;
    top:   40px !important;
    left:  8px !important;
    right: auto;
    width: 220px !important;
    padding-left: 8px !important;
  }
}
