* {
  font-family: cantarell;
  /* font-family: Jet brains mono nerd font; */
}

:root {
  --font-size-body: 16px;
}


.control-center {
  background: alpha(#282828, 0.9);
  border-radius: 16px;
}


.widget-buttons-grid {
  font-size: 36px;
  color: #989899;
}
.widget-buttons-grid>flowbox>flowboxchild>button {
  padding: 6px 62px;
  background-color: transparent;
  border-radius: 8px;
}
.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  color: #282828;
  background: #b8bb26;
}
.widget-buttons-grid>flowbox>flowboxchild:last-child {
  border-left: 2px solid #989899;
  border-radius: 0px;
}
.widget-buttons-grid>flowbox>flowboxchild:first-child {
  border-right: 2px solid #989899;
  border-radius: 0px;
}


.widget-dnd>label {
  color: #989899;
  background: transparent;
  font-size: 24px;
}
.widget-dnd>switch {
  background: #98971a;
  border-radius: 16px;
}
.widget-dnd > switch:hover {
  background: #b8bb26;
}
.widget-dnd>switch:checked {
  background: #cc241d;
}
.widget-dnd > switch:checked:hover {
  background: #fb4934;
}
.widget-dnd>switch>slider {
  background: #383838;
}


.widget-title {
  color: #989899;
  font-size: 24px;
  border-radius: 0;
  border-top: 2px solid #989899;
  padding: 16px;
  margin: 16px 0;
}
.widget-title button {
  border-radius: 16px;
  color: #383838;
  background: #d79921;
  padding: 0 16px;
  font-size: 24px
}
.widget-title button:hover {
  background: #fabd2f;
}
.widget-title button:active {
  background: #cc241d;
}

.notification-background {
  background-color: transparent;
}

.notification-group {
  background-color: transparent;
}

.notification-group-icon, .notification-group-header, .notification-group-buttons {
  color: #989899;
  opacity: 1;
}

.notification {
  border: none;
  box-shadow: none;
  color: #989899;
  opacity: 1;
}

.notification-default-action>label {
  color: #989899;
}


.close-button {
  border: none;
  margin: 4px;
  background: #9d0006;
  color: #9d0006;
}


.control-center-list-placeholder {
  color: #989899;
  opacity: 1;
  font-size: 24px;
}
