/* Variables */
:root{
  --uc-frame-color: #282828; /*main color*/
  --toolbar-field-background-color: #414141 !important; /*urlbar unfocused*/
  --toolbar-field-focus-background-color: #414141 !important; /*urlbar focused*/
}

:has(#sidebar-box:not([hidden])) { /*enable padding with sidebar is on*/
  browser { /* round corners of content section and its background*/
    background: var(--uc-frame-color) !important;
    border-radius: 10px;
  }
  .browserStack { /* add padding */
    padding: 10px;
    background: var(--uc-frame-color) !important;
  }
}
#browser { /*browser frame color*/
  background: var(--uc-frame-color) !important;
}

/*Remove upper bars*/
#titlebar,
#TabsToolbar { 
  display: none !important; /*hide upper tabs*/
}
#nav-bar {
  height:      40px !important;
  margin-top: -40px !important;
  overflow: visible !important; /*make possible to move buttons from navbar*/
}
#navigator-toolbox {
  border: none !important; /*no line under former navbar*/
  z-index:   1 !important; /*v137 fix*/
}

/*Move buttons*/
#PanelUI-button { /*settings button*/
  position: fixed !important;
  top:        5px !important;
  left:       5px !important;
}
#unified-extensions-button { /*extension button*/
  list-style-image: url("chrome://global/skin/icons/chevron.svg") !important;
  position: fixed !important;
  top:       5px  !important;
  left:     35px  !important;
}
#downloads-button { /*download button*/
  position: fixed !important;
  top:       5px  !important;
  left:     65px  !important;
}
#back-button {
  position: fixed !important;
  top:        5px !important;
  left:     135px !important;
}
#forward-button {
  position: fixed !important;
  top:        5px !important;
  left:     165px !important;
}
#stop-reload-button {
  position: fixed !important;
  top:        5px !important;
  left:     195px !important;
}

/* Sidebery */
#sidebar-box {
  background: var(--uc-frame-color) !important; /*sidebar background - not the sidebar! visible in corners*/
  width:      193px !important;
  margin-top:  80px !important;
  margin-left:  7px !important;
}
#sidebar-header,    /*no "Tabs" header*/
#sidebar-splitter { /*no movable splitline*/
  display: none;
}

/*Remove icons in urlbar and status in the left down angle*/
#statuspanel,
#star-button-box,
#identity-box,
#permission-icon-container,
#tracking-protection-icon-container { 
  display: none !important; 
}

/*Urlbar*/
:has(#sidebar-box:not([hidden])) {
  #urlbar-background,#urlbar {
    border-radius: 10px !important; /*Urlbar corner radius*/
  }
  #urlbar-background {
    border:  none !important;
    outline: none !important;
  }
  #urlbar {
    position: fixed !important;
    top:   40px !important;
    left:  8px !important;
    right: auto;
    width: 220px !important;
    padding-left: 8px !important;
  }
}

/* Context menu - https://github.com/stonecrusher/simpleMenuWizard */

/*Blank*/
#context-navigation,             /* Hide whole navigation bar            */
#context-sep-navigation,         /************** Separator ***************/
#context-savepage,               /* Save Page As...                      */
#context-selectall,              /* Select All                           */
#context-sep-selectall,          /************** Separator ***************/
#context-take-screenshot,        /* Take Screenshot                      */
#context-sep-screenshots,        /************** Separator ***************/
#context-viewsource {            /* View Page Source                     */
  display:none !important;
}

/*Image*/
#context-copyimage,               /* Copy Image Link                 */
#context-sendimage {              /* Email Image…                    */
  display:none !important;
}

/*Seletion*/
#context-print-selection,              /* Print Selection                  */
#context-viewpartialsource-selection,  /* View Selection Source            */
#context-inspect-a11y {                /* Inspect Accessibility Properties */
  display:none !important;
}

/*Media*/
#context-media-playbackrate,          /* Speed                           */
#context-media-loop,                  /* Loop                            */
#context-leave-dom-fullscreen,        /* Exit Full Screen                */
#context-video-fullscreen,            /* Full Screen                     */
#context-media-hidecontrols,          /* Hide Controls                   */
#context-media-showcontrols,          /* Show Controls                   */
#context-media-sep-video-commands,    /************ Separator ************/
#context-video-pictureinpicture,      /* Watch in Picture-in-Picture     */
#context-media-sep-commands,          /************ Separator ************/
#context-video-saveimage,             /* Take Snapshot…                  */
#context-saveaudio,                   /* Save Audio As…                  */
#context-copyvideourl,                /* Copy Video Link                 */
#context-copyaudiourl,                /* Copy Audio Link                 */
#context-sendvideo,                   /* Email Video…                    */
#context-sendaudio {                  /* Email Audio…                    */
  display:none !important;
}

/*Input*/
#context-openlinkinusercontext-menu,    /* Open Link in New Container Tab   */
#context-openlink,                      /* Open Link in New Window          */
#context-openlinkprivate,               /* Open Link in New Private Window  */
#context-sep-open,                      /************ Separator *************/
#context-bookmarklink,                  /* Bookmark Link                    */
#context-savelink {                     /* Save Link As…                    */
  display:none !important;
}

/*Extensions*/
#contentAreaContextMenu menu[image*="moz-extension://"],
#contentAreaContextMenu menuitem[image*="moz-extension://"],
#contentAreaContextMenu #context-media-eme-separator {
  display: none;
}
