* {
  font-family: "JetBrainsMono Nerd Font, sans-serif";
  font-size: 14px;
}


window#window {
  background: #282828;
  border-radius: 0px;
  border: 2px solid rgb(213, 196, 161);
}


#custom-flake,
#tray,
#workspaces,
#clock,
#battery,
#cpu,
#temperature,
#memory,
#backlight,
#pulseaudio {
  background: #282828;
  padding: 0 10px;
  margin: 5px 2px 5px 2px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 0px;
}


#custom-flake {
  color: #458588;
  font-size: 25px;
  margin: 2px;
  padding: 1px 1px 1px 5px;
}


#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #458588;
}
#workspaces button:hover {
   background-color: #23232A;
}
#workspaces button.active {
   color: #ebdbb2;
}
#workspaces button.urgent {
   color: #cc241d;
}


#clock {
  color: #458588;
}


#battery {
  color: #b8bb26;
}
#battery.charging, #battery.plugged {
  background-color: #b8bb26;
  color: #282828;
}


#cpu {
  color: #689d6a;
}
#memory {
  color: #689d6a;
}
#temperature {
  color: #689d6a;
}


#backlight {
  color: #d79921;
}
#pulseaudio {
  color: #d79921;
}
#pulseaudio.muted {
  color: #cc241d;
}
