* {
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 600;
}

window .bar {
    background: transparent;
}

.FlakeModule,
.TrayModule,
.WorkspacesModule,
.ClockModule,
.BatteryModule_normal,
.BatteryModule_charging,
.CpuModule,
.TemperatureModule_normal,
.TemperatureModule_critical,
.MemoryModule,
.BacklightModule,
.VolumeModule {
    background: rgba(40, 40, 40, 0.9);
    padding: 0 10px;
    border-radius: 10px;
    margin: 0px;
    min-height: 30px;
}


.FlakeModule {
    color: #98971a;
    font-size: 23px;
    padding: 1px 1px 1px 4px;
}
.TrayModule {
    padding: 0 4px;
}
.TrayIcon {
    padding: 0 4px;
    background: transparent;
}
.WorkspacesModule {
    padding: 0;
}
.workspaceItem {
    padding: 0;
    color: #D79921;
}

.ClockModule {
    color: #b16286;
}


.BatteryModule_normal {
    color: #b8bb26;
}
.BatteryModule_charging {
    background: #b6bb26;
    color: #282828;
}


.CpuModule {
    color: #83a589;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -8px;
}
.TemperatureModule_normal {
    color: #83a589;
    border-radius: 0;
    padding: 0;
}
.TemperatureModule_critical {
    color: #cc241d;
    border-radius: 0;
    padding: 0;
}
.MemoryModule {
    color: #83a589;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -8px;
}



.BacklightModule {
    color: #d79921;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -8px;
}
.VolumeModule {
    color: #d79921;
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
