window {
    opacity: 0.9;
    border:  0px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 18px;
}

#input {
	border-radius: 10px 10px 0px 0px;
    border:  0px;
    padding: 10px;
    margin: 0px;
    font-size: 28px;
	color: #8EC07C;
	background-color: #554444;
}

#inner-box {
	margin: 0px;
	color: #d5c4a1;
	background-color: #282828;
}

#outer-box {
	margin: 0px;
	background-color: #282828;
  border-radius: 10px;
}

#selected {
	background-color: #608787;
}

#entry {
	padding: 0px;
  margin: 0px;
  border-radius: 16px;
	background-color: #282828;
}

#scroll {
	margin: 5px;
	background-color: #282828;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}
