window {
    border:  0px;
    border-radius: 24px;
    font-family: monospace;
    font-size: 1.3rem;
    padding: 0.3rem;
}

#input {
	border-radius: 16px;
    border:  0px;
    margin: 0.5rem;
    padding: 0.3rem 1rem;
	color: #8EC07C;
	background-color: #282828;
}

#inner-box {
	margin: 0.1rem;
	color: #d5c4a1;
	background-color: #1d2021;
	border-radius: 24px;
}

#outer-box {
	margin: 0px;
	background-color: #1d2021;
  border-radius: 24px;
}

#entry {
	padding: 0.3rem 0.9rem;
	border-radius: 16px;
  margin: 0,5rem;
	background-color: #1d2021;
}

#entry:selected {
	outline: none;
}

#selected {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	border: 0px;
	outline: none;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}
