window .bar {
    background: transparent;
    color: @theme_fg_color;
    font-size: 10px;
}

.tray {
    background: #282828;
    padding: 0 10px;
    border-radius: 12px;
    margin: 0;
}
.workspaces {
    background: #282828;
    padding: 0 10px;
    border-radius: 12px;
    margin: 0;
}


.clock {
    background: #282828;
    color: #b16286;
    padding: 0 10px;
    border-radius: 12px;
    margin: 0;
}


.battery {
    background: #282828;
    padding: 0 10px;
    border-radius: 12px;
    margin: 0px;
}
.volume {
    background: #282828;
    padding: 0 10px;
    border-radius: 12px;
    margin: 0px;
}
